
/** Fonts **/
$font-serif: 'serif';
$font1: $font-serif;

$font-sans-serif: 'sans-serif';
$font2: $font-sans-serif;
/***********/


/**Colors **/
$color-primary: black;
$color-1: $color-primary;
$color-error: rgba(172, 34, 34, 0.856);
$color-4: $color-error;
/***********/
