
/** Fonts **/
$font-serif: 'serif';
$font-sans-serif: 'Roboto';
/***********/


/**Colors **/
$color-main: #02c39b;
$color-primary: black;
$color-secondary: white;
$color-error: rgba(172, 34, 34, 0.856);
/***********/
