@import 'src/sass/all';


:host{
  @include size(48px);
  @include inline-flex-row;
  background-color: $color-main;
  border-radius: 100%;
  cursor: pointer;
  overflow: hidden;
  user-select: none;
  &:hover{
    filter: saturate(.5);
  }
  mat-icon{
    @include size(auto);
    @include inline-flex();
    align-items: center;
    justify-content: center;
    color: transparent;
    font-size: 2rem;
    line-height: 1.4;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $color-secondary;
    order: 1;
    &:only-child{
      @include size(100%, auto);
      margin-right: 0;
    }
  }
  span{
    @include inline-flex();
    @include font(Roboto, rgba($color-primary, .8), 1.1rem, 1.4, bold);
    letter-spacing: .5px;
    margin-right: 5px;
    order: 2;
  }
}
