
$home-transition-duration: .75s;
$home-transition-style: ease-in-out;

$home-text-host-padding: 16px;
$home-text-host-margin-horizontal: 0;
$home-text-host-max-width: 40%;

$home-progress-host-max-width: 120px;
